
.bg-1 {
    background-color: #BBBBAA !important;
}

.bg-2 {
    background-color: #BB5544 !important;
}

.bg-3 {
    background-color: #6699FF !important;
}

.bg-4 {
    background-color: #AA5599 !important;
}

.bg-5 {
    background-color: #DDBB55 !important;
}

.bg-6 {
    background-color: #BBAA66 !important;
}

.bg-7 {
    background-color: #AABB22 !important;
}

.bg-8 {
    background-color: #6666BB !important;
}

.bg-9 {
    background-color: #AAAABB !important;
}

.bg-10 {
    background-color: #FF4422 !important;
}

.bg-11 {
    background-color: #3399FF !important;
}

.bg-12 {
    background-color: #77CC55 !important;
}

.bg-13 {
    background-color: #FFCC33 !important;
}

.bg-14 {
    background-color: #FF5599 !important;
}

.bg-15 {
    background-color: #77DDFF !important;
}

.bg-16 {
    background-color: #7766EE !important;
}

.bg-17 {
    background-color: #775544 !important;
}

.bg-18 {
    background-color: #FFAAFF !important;
}


.sprite-type-icon {

    background-image: url("https://media.52poke.com/wiki/8/87/MST_SV.webp");
    background-size: 40rpx 840rpx;
    background-repeat: no-repeat;
    width: 40rpx;
    height: 40rpx;

}

.sprite-type-1 {
    background-position: 0 0
}

.sprite-type-2 {
    background-position: 0 -40rpx
}

.sprite-type-3 {
    background-position: 0 -80rpx
}

.sprite-type-4 {
    background-position: 0 -120rpx
}

.sprite-type-5 {
    background-position: 0 -160rpx
}

.sprite-type-6 {
    background-position: 0 -200rpx
}

.sprite-type-7 {
    background-position: 0 -240rpx
}

.sprite-type-8 {
    background-position: 0 -280rpx
}

.sprite-type-9 {
    background-position: 0 -320rpx
}

.sprite-type-10 {
    background-position: 0 -360rpx
}

.sprite-type-11 {
    background-position: 0 -400rpx
}

.sprite-type-12 {
    background-position: 0 -440rpx
}

.sprite-type-13 {
    background-position: 0 -480rpx
}

.sprite-type-14 {
    background-position: 0 -520rpx
}

.sprite-type-15 {
    background-position: 0 -560rpx
}

.sprite-type-16 {
    background-position: 0 -600rpx
}

.sprite-type-17 {
    background-position: 0 -640rpx
}

.sprite-type-18 {
    background-position: 0 -680rpx
}

.sprite-category-19 {
    background-position: 0 -720rpx
}

.sprite-category-20 {
    background-position: 0 -760rpx
}

.sprite-category-21 {
    background-position: 0 -800rpx
}