
.bg-1 {
    background-color: #BBBBAA !important;
}

.bg-2 {
    background-color: #BB5544 !important;
}

.bg-3 {
    background-color: #6699FF !important;
}

.bg-4 {
    background-color: #AA5599 !important;
}

.bg-5 {
    background-color: #DDBB55 !important;
}

.bg-6 {
    background-color: #BBAA66 !important;
}

.bg-7 {
    background-color: #AABB22 !important;
}

.bg-8 {
    background-color: #6666BB !important;
}

.bg-9 {
    background-color: #AAAABB !important;
}

.bg-10 {
    background-color: #FF4422 !important;
}

.bg-11 {
    background-color: #3399FF !important;
}

.bg-12 {
    background-color: #77CC55 !important;
}

.bg-13 {
    background-color: #FFCC33 !important;
}

.bg-14 {
    background-color: #FF5599 !important;
}

.bg-15 {
    background-color: #77DDFF !important;
}

.bg-16 {
    background-color: #7766EE !important;
}

.bg-17 {
    background-color: #775544 !important;
}

.bg-18 {
    background-color: #FFAAFF !important;
}